html, body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;

}


/*********************homepage**********************/


#bar {
	margin-top: 10%;
	width: 21%;
	background: #D1D1D1;
	height: 17px;
	border: 1px solid black;
	position: relative;
	margin-left: 70%;
}

#password {

background: url('img/passwordIcon.png') right no-repeat;
width:80%; 
height: 30px; 
padding: 5px; 
font-size: 16px; 
margin-left: 18px; 
border-bottom-left-radius: 7px; 
border-bottom-right-radius: 7px; 
background-color: #E4E4E4; 
color: #5E5E5E;
}



#username {
background: url('img/loginIcon.png') right no-repeat;
width:80%; 
height: 30px; 
padding: 5px; 
font-size: 16px; 
margin-left: 18px; 
border-top-left-radius: 7px; 
border-top-right-radius: 7px; 
background-color: #E4E4E4; 
color: #5E5E5E;
}


#wrapper {
	width: 100%;
	height: 100%;
}

#login {
	padding-top: 60px;
	width: 21%;
	float: right;
	background: #F6F6F6;
	height: 250px;
	font-family: Myriad Pro, Times New Roman, Verdana;
	border: 1px solid black;
	position: absolute;
	margin-left: 70%;
	
}


#forgotPassword {
	text-decoration: none; 
	color: gray; 
	margin-left:50%;
}

#forgotPassword:hover {
	color: red;
}

 textarea:-moz-placeholder { color: white;}
 
 
 
 /*************END HOMEPAGE*****************/
 
/****************WELCOME PAGE****************/

#welcomeBox {
	width: 20%;
	background: #F6F6F6;
	font-family: Myriad Pro, Times New Roman, Verdana;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
}

#welcomeBar {
	width: 20%;
	background: #D1D1D1;
	height: 17px;
	border: 1px solid black;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#welcome {
	margin-top: 11%;
	font-size: 36px;
	margin-left: 2%;
}

.options {
	margin: 10px;
	display: block;
	color: black;
	text-decoration: none;
	
}

.options:hover {
	color:rgb(0,102,0);
	cursor: pointer;
}
 
 
/*******************END WELCOME PAGE****************/
 
 
/*******************CREATE ACCOUNT************************/

 #createAccountBar {
	margin-top: 7%;
	width: 74%;
	background: #D1D1D1;
	margin-right: auto;
	margin-left: auto;
	height: 17px;
	border: 1px solid black;
}
 
 #createAccountBox {
	padding-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	width: 70%;
	background: rgba(246,246,246, .85);
	margin-right: auto;
	margin-left: auto;
	height: 350px;
	font-family: Myriad Pro, Times New Roman, Verdana;
	border: 1px solid black;
	margin-bottom: 42px;
}

#createAccountRight { 
	width: 40%;
	float: right;
	margin-right: 20px;
}

#createAccountLeft{
	width: 40%;
	float: left;
	margin-left: 20px;
}


/**********horizontal nav bar***************/
#nav {
	margin-top: 4%;
	font-size: 18px;	
	margin-left: 55%;
}

#nav ul li {
	margin-top: 5px;
	display: inline-block;
	z-index: 899;
	margin-left: 2px;	
}

#nav ul li a,visited {
	color: #DFDFDF;
	display: block;
	padding: 15px;
	text-decoration: none;
	font-family: Myriad Pro, helvetica;
}


#nav ul li a:hover {
	background: rgba(0,102,0,.75);
	text-decoration: none;
	z-index: 500;
	border-radius: 5px;
}

#nav ul ul{
	display: none;
	position: absolute;
	background-color: white;
	z-index: 440;
}

#nav ul ul li {
	display: block;
	z-index: 420;

}

#nav ul ul li a, visited {
	color: black;
	z-index: 410;
}

/*********end of horizontal nav bar ******************/

/*******************END OF CREATE ACCOUNT************************/

#languages {
margin-left: 78%;
padding-top: 15px;
}

#languages a {
	text-decoration: none;
	color: #D1D1D1;
}

#languages a:hover {
	color: rgb(204,102,0);
}

/***********************List Page****************************/


#locatePeopleList {
	width: 30%;
	height: 70%;
	background-color: #FFF;
	box-shadow: 5px 5px 8px #000000;
	float: left;
	margin-left: 4%;
	margin-right: 5%;
	margin-top: 2%;
	padding: 0px 5px 5px 5px;
	/*overflow-y: auto;*/
}

#map {
        width: 50%;
        height: 70%;
      	margin-bottom: 80px;
      	margin-top: 4%;
      	margin-left: 4%;
      	margin-right:8%;
      	box-shadow: 10px 10px 15px black;
    
      }
 
.listChoicesBar {
}

.listChoices {
	cursor: pointer;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	width: 47%;
	padding-left: 1%;
	padding-right: 1%;
}

.right {
	float: right;
}

.left {
	float: left;
}

#listContent {
	width: 100%;
	height: 85%;
	margin-left: 1%;
	margin-right: 1%;
	overflow-y: scroll;
}

.listChoiceSelected {
	color:rgb(204,102,0);
	background: url('img/listChoiceSelected.png') right no-repeat;

}

.listChoiceNotSelected {
	color: #DFDFDF;
	background: url('img/listChoiceNotSelected.png') right no-repeat;
}

.locateList {
	font-size: large;
	width: 95%;
	overflow: hidden;
	margin: 1%;
	padding: 5px;
	position: relative;
	border-bottom: thin solid gray;
}

.locateInfo {
	float: left;
	padding: 3px;
}

.locateSubmit {
	border-radius: 5px;
	cursor: pointer;
	margin: 3px;
	float: right;
	padding: 5px;
	background: rgba(0,102,0,.75);
}
 
/********************END LIST PAGE***********************/




 
 