html, body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
height: 100%;
}

/*********************homepage**********************/


#bar {
	margin-top: 10%;
	margin-left: 73.86%;
	width: 21%;
	background: #D1D1D1;
	height: 17px;
	border: 1px solid black;
	position: relative;
}

.btn {
	text-align: center;
  	color: white;
  	font-size: 18px;
  	border-radius: 5px;
  	padding: 3px 17px;
  	margin: 15px 0px;
  	background-color: #4B94B8;
  	text-shadow: -1px 1px #417cb8;
}

.btn:hover {
	background-color: #24749B;
  	cursor: pointer;
  	background-color: #346392;
  	text-shadow: -1px 1px #27496d;
}
.btn:active {
	position:relative;
	top:1px;
}

.btn a { 
	color: white;
}

#password {
  background: url('img/passwordIcon.png') right no-repeat;
  height: 30px;
  width: 300px; 
  padding: 5px;
  border-radius:5px;
  font-size: 16px;
  background-color: #E4E4E4;
  box-shadow: 3px 4px 10px black;

}



#username {
  	background: url('img/loginicon.png') right no-repeat;
  	height: 30px;
  	width: 300px; 
  	padding: 5px;
  	margin-bottom: 20px;
  	border-radius: 5px;
  	font-size: 16px;
  	background-color: #E4E4E4;
  	box-shadow: 3px 4px 10px black;
}


#wrapper {
	width: 100%;
	height: 100%;
}


#login {
	position: absolute;
  	left: 900px;
  	top: 316px;
  	width: 315px;
  	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


#forgotPassword {
	text-decoration: none; 
	color: gray; 
}

#forgotPassword:hover {
	color: #417cb8;
}

#logIn { 
	padding: 9px 20px;
}

 textarea:-moz-placeholder { color: white;}
 
 
 
 /*************END HOMEPAGE*****************/
 
/****************WELCOME PAGE****************/

#welcomeBox {
	 	clear: both;
  		width: 100%;
  		height: 85%;
  		display: block;
  		background: rgba(213, 213, 213, 0.36);
  		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  		padding: 9px 21px;
  		text-align: center;
  		padding-top:60px;
}

#welcome {
	margin-top: 14%;
	font-size: 3em;
	margin-left: 4%;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#welcomeBox a {
	  clear: both;
  width: 35%;
  display: block;
  font-size: 24px;
  background-color: #4B94B8;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 19px;
	
}

#welcomeBox a:hover { 
	background-color: #24749B;
}

.options:hover {
	color:rgb(0,102,0);
	cursor: pointer;
}
 
 
/*******************END WELCOME PAGE****************/
 
 
/*******************CREATE ACCOUNT PAGE************************/


.createbtn {
	text-align: center;
  	color: white;
  	font-size: 22px;
  	border: 1px solid white;
  	border-radius: 5px;
  	padding: 7px 15px;
  	background-color: #4B94B8;
  	text-shadow: -1px 1px #417cb8;
}

.createbtn:hover {
	background-color: #24749B;
  	cursor: pointer;
  	background-color: #346392;
  	text-shadow: -1px 1px #27496d;
}
.createbtn:active {
	position:absolute;
	/*top:1px;*/
}

#status {
	font-size: 2em;
	color: lightGreen;
}


.createAccountForm { 
	 height: 86%;
  	width: 550px;
  	box-sizing: border-box;
  	padding: 40px;
  	margin: 0 auto;
}

.inputField { 
	height: 50px; 
	width: 100%; 
	border-radius: 3px; 
	box-sizing: border-box; 
	padding: 10px;
	margin-bottom: 30px; 
	margin-right: 41px; 
}

.inputFiled:focus{ 
	outline none; 
	border:rgba(24,149,215,1) 2px solid;
   	color:rgba(24,149,215,1);
}
.createAccountForm label { 
	display:block;
	margin: .25em 0; 
}

.createAccountForm input[type=text]{ 
	display:block; 
	padding:.5em .6em; 
	border: 1px solid #ccc; 
	box-shadow: inset 0 1px 3px #ddd; 
	border-radius: 4px;
	vertical-align: middle; 
	box-sizing: border-box; 
	font-size: 17px; 
	letter-spacing: 3px; 
}

.multiFieldForm { 
	margin-top: 60px; 
}


@media only screen and (min-device-width: 728px){ 


} 
 /*****end of create account page ********/

/**********horizontal nav bar***************/

#nav {
	width:100%;
	position: absolute;
  	font-size: 18px;
  	background-color: #4B94B8;;

}

#nav ul li {
	margin-top: 5px;
	display: inline-block;
	z-index: 899;
	margin-left: 2px;	
}

#nav ul li a {
	color: white;
	display: block;
	padding: 15px;
	text-decoration: none;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


#nav ul li a:hover {
	background-color: rgb(218, 148, 62);
}

#nav ul ul{
	display: none;
	position: absolute;
	background-color: white;
	z-index: 440;
}

#nav ul ul li {
	display: block;
	z-index: 420;

}

#nav ul ul li a, visited {
	color: black;
	z-index: 410;
	background-color: rgb(218, 148, 62);
}

/*********end of horizontal nav bar ******************/




/***********************List Page****************************/


#locatePeopleList {
	position: absolute;
	width: 420px;
  	height: 550px;
  	background-color: #FFF;
  	border: 1px solid black;
  	overflow: scroll;
  	top: 200px;
  	left: 50px;
}


#container {
	 position: absolute;
  	overflow: hidden;
  	float: right;
  	transform: translateZ(0px);
  	width: 661px;
  	height: 551px;
  	left: 489px;
  	top: 200px;
  	box-shadow: 4px 3px 15px black;
  	text-align: center;
}

#map {
	height: 100%;
	width: 60%;
}

#worker {
	height: 100%;
	width: 100%;
}
 
.listchoicesdiv {
  text-align: center;
  color: black;
  padding-top: 13px;
  font-size: 18px;
  background-color: #4B94B8;
  float: left;
  height: 50px;
  width: 210px;
  box-sizing: border-box;
  background: #eeeeee;
  transition: background .4s;
}

.listchoicesdiv:first-child  { 
-webkit-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
}

.listchoicesdiv:last-child { 
-webkit-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}

.listchoicesdiv:hover {
  background-color: #24749B;
  cursor: pointer;
  
}

.listchoicesdiv:active { 
	background-color: #27496d;
  	text-shadow: -1px 1px #193047;
}

/*
.listchoicesdiv:active {
  color: orange;
  cursor: pointer;
  
}*/

.listChoiceSelected {
	  background: #fff;
}

.listChoiceNotSelected {
}

#choices {
  margin-left: 10%;
  position: relative;
  top: 15%;
  height: 70%;
  width: 450px;
  margin: 0 auto;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);

}
.listChoices {
	cursor: pointer;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	width: 47%;
	height: auto;
	padding-left: 1%;
	padding-right: 1%;
}

.right {
	float: right;
}

.left {
	float: left;
}

#listSearchBar {
	width: 98%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#search {
	width: 98%;
	height: 2em;
	margin-top: 1%;
	display: block;
    overflow: hidden;
}

#search[placeholder] {
	font-size: medium;
}

#searchOptions {
	position:relative;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

#listContent {
	width: 100%;
	height: 85%;
	margin-left: 1%;
	margin-right: 1%;

}

#content {

overflow: auto;
}


#loading {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: transparent;
	display:none;
}

#loading img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 30%;
	max-height: 30%;
}

.locateList, .listList {
	font-size: large;
	width: 95%;
	overflow: hidden;
	margin: 1%;
	padding: 5px;
	position: relative;
	border-bottom: thin solid gray;
}

.locateInfo, .listInfo {
	float: left;
	padding: 3px;
}

.locateSubmit, .listSubmit, .dateSelect {
	border-radius: 2px;
  	cursor: pointer;
  	margin: 2px;
  	padding: 4px;
  	color: white;
  	font-size: 16px;
  	background: rgb(218, 148, 62);
}

.listSubmit:hover { 
	  background: rgb(205, 133, 45);
}

.locateSubmit:hover, .listSubmit:hover, .dateSelect:hover {
	border-radius: 2px;
  	cursor: pointer;
  	margin: 2px;
  	padding: 4px;
  	color: white;
  	font-size: 16px;
  	background: rgb(218, 148, 62);
}

.locateSubmit, .listSubmit, .locateSubmit:hover, .listSubmit:hover {
	float: right;
}

.dateSelect, .dateSelect:hover {
	margin: 5px auto;
	width: 30%;
	padding: 5px;
	font-weight: bold;
	font-size: medium;
	text-align: center;
}
.dateSelect:hover {
	font-size: larger;
}
#visitContent {
	margin: 10px;
	text-align: left;
}
 
 
 
#list_block {
	background-color: black;
	width: 50%;
	height: 30%;
	margin-bottom: 1%;	
	float: left;
	visibility: hidden;
}
/********************END LIST PAGE***********************/
