html, body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
height: 100%;
}

/*********************homepage**********************/


#bar {
	margin-top: 10%;
	margin-left: 73.86%;
	width: 21%;
	background: #D1D1D1;
	height: 17px;
	border: 1px solid black;
	position: relative;
}

.forgot_pass {
	text-decoration: none; 
	margin-left:45%; 
	color: gray;

}

.forgot_pass:hover {
	color: red;
}

.btn {
	-moz-box-shadow: 3px 4px 3px 0px #20610e;
	-webkit-box-shadow: 3px 4px 3px 0px #20610e;
	box-shadow: 3px 4px 3px 0px #20610e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #28570f));
	background:-moz-linear-gradient(top, #44c767 5%, #28570f 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #28570f 100%);
	background:-o-linear-gradient(top, #44c767 5%, #28570f 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #28570f 100%);
	background:linear-gradient(to bottom, #44c767 5%, #28570f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#28570f',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:1em;
	text-decoration: none;
	padding: 5%;
	width: 50%;
	margin-left: auto;
	display: block;
	margin-top: 5%;
	margin-right: auto;
	text-decoration:none;
	text-shadow:0px 1px 0px #285721;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #28570f), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #28570f 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #28570f 5%, #44c767 100%);
	background:-o-linear-gradient(top, #28570f 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #28570f 5%, #44c767 100%);
	background:linear-gradient(to bottom, #28570f 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#28570f', endColorstr='#44c767',GradientType=0);
	background-color:#28570f;
}
.btn:active {
	position:relative;
	top:1px;
}

#password {

background: url('img/passwordIcon.png') right no-repeat;
width:80%; 
height: 30px; 
padding: 5px; 
font-size: 16px; 
margin-left: 18px; 
border-bottom-left-radius: 7px; 
border-bottom-right-radius: 7px; 
background-color: #E4E4E4; 
color: #5E5E5E;
}



#username {
background: url('img/loginicon.png') right no-repeat;
width:80%; 
height: 30px; 
padding: 5px; 
font-size: 16px; 
margin-left: 18px; 
border-top-left-radius: 7px; 
border-top-right-radius: 7px; 
background-color: #E4E4E4; 
color: #5E5E5E;
}


#wrapper {
	width: 100%;
	height: 100%;
}


#login {
	position: absolute;
	right:60px; 
	top:28%; 
	width: 21%;
	overflow: auto;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


#forgotPassword {
	text-decoration: none; 
	color: gray; 
	margin-left:50%;
}

#forgotPassword:hover {
	color: red;
}

 textarea:-moz-placeholder { color: white;}
 
 
 
 /*************END HOMEPAGE*****************/
 
/****************WELCOME PAGE****************/

#welcomeBox {
	width: 20%;
	background: #F6F6F6;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
}

#welcomeBar {
	width: 20%;
	background: #D1D1D1;
	height: 17px;
	border: 1px solid black;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#welcome {
	margin-top: 14%;
	font-size: 3em;
	margin-left: 4%;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.options {
	margin: 10px;
	display: block;
	color: black;
	text-decoration: none;
	
}

.options:hover {
	color:rgb(0,102,0);
	cursor: pointer;
}
 
 
/*******************END WELCOME PAGE****************/
 
 
/*******************CREATE ACCOUNT PAGE************************/

 #createAccountBar {
	width: 74%;
	background: #D1D1D1;
	margin-right: auto;
	margin-left: auto;
	height: 17px;
	clear: both;
	border: 1px solid black;
}
 
 #createAccountBox {
	padding-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	width: 70%;
	background: rgba(246,246,246, .85);
	margin-right: auto;
	margin-left: auto;
	height: 350px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	border: 1px solid black;
	margin-bottom: 42px;
}

#createAccountRight { 
	width: 40%;
	float: right;
	margin-right: 20px;
}

#createAccountLeft{
	width: 40%;
	float: left;
	margin-left: 20px;
}

.createbtn {
	-moz-box-shadow: 3px 4px 3px 0px #20610e;
	-webkit-box-shadow: 3px 4px 3px 0px #20610e;
	box-shadow: 3px 4px 3px 0px #20610e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #28570f));
	background:-moz-linear-gradient(top, #44c767 5%, #28570f 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #28570f 100%);
	background:-o-linear-gradient(top, #44c767 5%, #28570f 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #28570f 100%);
	background:linear-gradient(to bottom, #44c767 5%, #28570f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#28570f',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:1em;
	text-decoration: none;
	clear: both;
	padding: 1%;
	width: 10%;
	margin-left: 55%;
	margin-top: 8%;
	display: block;
	position: absolute;
	text-decoration:none;
	text-shadow:0px 1px 0px #285721;
}
.createbtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #28570f), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #28570f 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #28570f 5%, #44c767 100%);
	background:-o-linear-gradient(top, #28570f 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #28570f 5%, #44c767 100%);
	background:linear-gradient(to bottom, #28570f 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#28570f', endColorstr='#44c767',GradientType=0);
	background-color:#28570f;
}
.createbtn:active {
	position:absolute;
	/*top:1px;*/
}

.accountLeft {
    margin-right: 10%;
    float:left;
    /*margin-top: 10%;*/
}

#status {
	font-size: 2em;
	color: lightGreen;
}
 /*****end of create account page ********/

/**********horizontal nav bar***************/

.logo { 
	background: url('img/logo.png'); 
	width:100px;
	height:50px;
	z-index: 999;
}
#nav {
	width:100%;
	position: absolute;
  	font-size: 18px;
  	background-color: #4B94B8;;

}

#nav ul li {
	margin-top: 5px;
	display: inline-block;
	z-index: 899;
	margin-left: 2px;	
}

#nav ul li a {
	color: white;
	display: block;
	padding: 15px;
	text-decoration: none;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


#nav ul li a:hover {
	background-color: rgb(218, 148, 62);
}

#nav ul ul{
	display: none;
	position: absolute;
	background-color: white;
	z-index: 440;
}

#nav ul ul li {
	display: block;
	z-index: 420;

}

#nav ul ul li a, visited {
	color: black;
	z-index: 410;
	background-color: rgb(218, 148, 62);
}

/*********end of horizontal nav bar ******************/




/***********************List Page****************************/


#locatePeopleList {
	position: absolute;
 	 width: 40%;
  	height: 70%;
  	background-color: #FFF;
  	border: 1px solid black;
  	border-radius: 9px;
  	overflow: scroll;
  	top: 25%;
  	left: 5%;
}


#container {
	position: absolute;
  	overflow: hidden;
  	float: right;
  	transform: translateZ(0px);
  	background-color: rgb(229, 227, 223);
  	width: 50%;
  	height: 70%;
  	left: 48%;
  	top: 26%;
    box-shadow: 10px 10px 15px black;
	text-align: center;
  
}

#map {
	height: 100%;
	width: 100%;
}

#worker {
	height: 100%;
	width: 100%;
}
 
.listchoicesdiv {
    text-align: center;
  color: white;
  display: inline-block;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0px 9px;
  /* margin-left: 8%; */
  background-color: #4B94B8;
  text-shadow: -1px 1px #417cb8;
      
}

.listchoicesdiv:hover {
  background-color: #24749B;
  cursor: pointer;
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
  
}

.listchoicesdiv:active { 
	background-color: #27496d;
  	text-shadow: -1px 1px #193047;
}

/*
.listchoicesdiv:active {
  color: orange;
  cursor: pointer;
  
}*/

.listChoiceSelected {
	background-color: #27496d;
  	text-shadow: -1px 1px #193047;
}

.listChoiceNotSelected {
}

#choices {
	width: 100%;
	margin-left: 10%; 

}
.listChoices {
	cursor: pointer;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	width: 47%;
	height: auto;
	padding-left: 1%;
	padding-right: 1%;
}

.right {
	float: right;
}

.left {
	float: left;
}

#listSearchBar {
	width: 98%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#search {
	width: 98%;
	height: 2em;
	margin-top: 1%;
	display: block;
    overflow: hidden;
}

#search[placeholder] {
	font-size: medium;
}

#searchOptions {
	position:relative;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

#listContent {
	width: 100%;
	height: 85%;
	margin-left: 1%;
	margin-right: 1%;

}

#content {

overflow: auto;
}


#loading {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: transparent;
	display:none;
}

#loading img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 30%;
	max-height: 30%;
}

.locateList, .listList {
	font-size: large;
	width: 95%;
	overflow: hidden;
	margin: 1%;
	padding: 5px;
	position: relative;
	border-bottom: thin solid gray;
}

.locateInfo, .listInfo {
	float: left;
	padding: 3px;
}

.locateSubmit, .listSubmit, .dateSelect {
	border-radius: 2px;
  	cursor: pointer;
  	margin: 2px;
  	padding: 4px;
  	color: white;
  	font-size: 16px;
  	background: rgb(218, 148, 62);
}

.locateSubmit:hover, .listSubmit:hover, .dateSelect:hover {
	border-radius: 2px;
  	cursor: pointer;
  	margin: 2px;
  	padding: 4px;
  	color: white;
  	font-size: 16px;
  	background: rgb(218, 148, 62);
}

.locateSubmit, .listSubmit, .locateSubmit:hover, .listSubmit:hover {
	float: right;
}

.dateSelect, .dateSelect:hover {
	margin: 5px auto;
	width: 30%;
	padding: 5px;
	font-weight: bold;
	font-size: medium;
	text-align: center;
}
.dateSelect:hover {
	font-size: larger;
}
#visitContent {
	margin: 10px;
	text-align: left;
}
 
 
 
#list_block {
	background-color: black;
	width: 50%;
	height: 30%;
	margin-bottom: 1%;	
	float: left;
	visibility: hidden;
}
/********************END LIST PAGE***********************/
